<h1>Beastiary</h1>
<ul>
  {{#each listitem}}
  <div style="background-color: aqua; padding: 1em; border: 3px solid red ">
    <li>{{this.routeName}}</li>
  </div>
  {{/each}}
</ul>
<ul>
  {{#each listitem2}}
  <a href="beastiary/{{this.routeName}}">
    <div style="background-color: aqua; padding: 1em; border: 3px solid red ">
      <h1>{{this.name}}</h1>
      <li>{{this.routeName}}</li>
      Click
      <li>{{this.description}}</li>
      <img src="{{{this.photo}}}" alt="{{this.name}}" <li>{{this.foods}}</li>
      <li>{{this.location}}</li>

    </div>
  </a>
  {{/each}}
</ul>