<h1 class="main-headline">Beastiary</h1>
<a href="/data">
  &#8592; json api</a>

<div class="beast-main-wrapper-index">
  {{#each monsterslist}}
  <a href="beastiary/{{this.routeName}}">
    <div class="beast-wrapper-index">
      <h1>{{this.name}}</h1>

      <img src="{{{this.photo}}}" class="beast-img" alt="{{this.name}}" />
      <li>{{this.summary}}</li>
      <li>{{this.foods}}</li>
      <li>location: {{this.location}}
    </div>
  </a>
  {{/each}}
</div>