{{!-- <img src="/assets/images/hellmaw.jpg" class="hero" alt="beast"> --}}
<div class="content">

  <h1 class="main-headline">Beastiary</h1>
  <a href="/data">
    &#8592; json api</a>

  {{!-- <div class="beast-main-wrapper-index"> --}}
  <h2 class="main-headline">What is a Beastiary?</h2>
  <h3 class="main-headline">A Book of Beasts</h3>
  <p>Humanity has long been fascinated with the fearsome and the strange. In times where the world seemed wilder and
    undiscovered corners could be populated with the strangest and most fearsome creatures imagined. Medieval writers
    would collect these imagined beasts in books called bestiaries.</p>
  {{!-- {{#each monsterslist}}
    <a href="beastiary/{{this.routeName}}">
      <div class="beast-wrapper-index">
        <h1>{{this.name}}</h1>

        <img src="{{{this.photo}}}" class="beast-img" alt="{{this.name}}" />
        <li>{{this.summary}}</li>
        <li>{{this.foods}}</li>
        <br>
        <li>location: {{this.location}}
      </div>
    </a>
    {{/each}} --}}

  {{!-- </div> --}}
</div>