<h1>Beastiary</h1>
<a href="/data">json api</a>
<div class="beast-main-wrapper-index">
  {{#each monsterslist}}
  <a href="beastiary/{{this.routeName}}">
    <div class="beast-wrapper-index">
      <h1>{{this.name}}</h1>
      <li>{{this.summary}}</li>
      <img src="{{{this.photo}}}" alt="{{this.name}}" />
      <li>{{this.foods}}</li>
      <li>location: {{this.location}}
    </div>
  </a>
  {{/each}}
</div>